*{
	font-size:14px;
	font-family:Droid;
	text-transform: uppercase;
}

#main{
	border:1px solid #000000;
	padding:10px;
}
header{
	border-bottom: 1px dotted #000000;
}

h3{
	color:red;
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom:11px;
	font-weight: bold;
}
strong{
	font-weight: normal;
}
.container{
	width:800px;
}
section#senderreceiver,section#transactionpayment{
	margin-top:17px;
	line-height: 2.0em;
}
